<%- include('./partials/header.ejs') %>
    <div class="container">
        <h1 class="p-3 text-center">Add Student Form</h1>

        <!--Form input-->
        <form action="/api/students/" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1" class="font-italic">Student Name</label>
                <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                    placeholder="Enter student name" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="font-italic">Student Age</label>
                <input type="number" name="age" class="form-control" id="exampleInputEmail1"
                    placeholder="Enter student age" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="font-italic">Math Score</label>
                <input type="number" name="math" class="form-control" id="exampleInputEmail1"
                    placeholder="Enter math score" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="font-italic">Physics Score</label>
                <input type="number" name="physics" class="form-control" id="exampleInputEmail1"
                    placeholder="Enter physics score" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="font-italic">Chemistry Score</label>
                <input type="number" name="chemistry" class="form-control" id="exampleInputEmail1"
                    placeholder="Enter chemistry score" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/api/students/" class="btn btn-danger">Cancel</a>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>